* {
    background-color: bisque;
    margin: 0;
    padding: 0;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.header {
    background-color: white;
    color: #014421;
    padding: 50px;
    text-align: center;
    border: 5px solid #014421;
    border-radius: 25px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}

h1 {
    font-size: 60px;
    background-color: white;
}

.win-condition {
    background-color: white;
    font-size: 24px;
    padding-top: 20px;
    font-style: italic;
    text-decoration: underline;
}

.game-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.user-container, .computer-container {
    max-width: 1100px;
}

.user-box, .computer-box {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: 5px solid #014421;
    border-radius: 10px;
    height: 200px;
    width: 400px;
}

.user-icon, .computer-icon {
    height: 100px;
    background-color: white;
    margin-left: 50px;
    margin-top: 50px;
}

#user-pick, #computer-pick {
    border: 3px solid #014421;
    border-radius: 5px;
    height: 125px;
    width: 100px;
    margin-top: 35px;
    margin-right: 75px;
}

.user-score, .computer-score {
    border: 2px solid #014421;
    border-radius: 10px;
    background-color: white;
    height: 40px;
    width: 250px;
    margin-top: 25px;
    margin-left: 75px;
    text-align: center;
    padding-top: 15px;
    color: #014421;
    font-size: 24px;
    font-weight: bolder;
}

.rock-icon, .paper-icon, .scissors-icon {
    height: 150px;
    width: 150px;
    background-color: lightgray;
    margin: 10px;
}

.options-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 300px;
    width: 50%;
    margin: auto;
}

#rock-btn, #paper-btn, #scissors-btn {
    border: 5px solid #014421;
    border-radius: 10px;
    background-color: lightgrey;
}

#rock-btn:hover, #paper-btn:hover, #scissors-btn:hover  {
    background-color: red;
}

#rock-btn[disabled]:hover, #paper-btn[disabled]:hover, #scissors-btn[disabled]:hover {
    background-color: lightgrey;
}

.round-container {
    display: flex;
    justify-content: space-around;
    height: 100px;
    margin: auto;
}

.round-info {
    width: 400px;
    height: 50px;
    border: 2px solid #014421;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    padding-top: 15px;
    color: #014421;
    font-size: 24px;
    font-weight: bolder;
}

.restart-box {
    display: flex;
    justify-content: center;
}

.restart-btn {
    width: 100px;
    height: 25px;
    background-color: #014421;
    border-color: white;
    border-radius: 5px;
    color: white;
}

.restart-btn:hover {
    background-color: darkgray;
}

#click-rock, #click-paper, #click-scissors, #cpu-rock, #cpu-paper, #cpu-scissors {
    position: absolute;
    height: 100px;
    width: 100px;
    padding-top: 10px;
}

